Package: com.sharedroutine.tactful
Name: Tactful
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: 3D Functionality for Cydia (iOS 10.x ~ 12.x)
Maintainer: Janosch
Author: Janosch
Section: Tweaks
