Package: com.sharedroutine.tactful
Name: Tactful
Depends: mobilesubstrate, firmware (>= 13.0)
Version: 1.2
Architecture: iphoneos-arm
Description: 3D Functionality for Cydia (iOS 13.x)
Maintainer: Janosch
Author: Janosch
Section: Tweaks
